@theme {
  --color-primary: rgb(28, 37, 52);
  --color-background: rgb(239, 241, 246);
  --color-white: rgb(255, 255, 255);
  --color-gray: rgb(239, 239, 239);
  --color-light-grey: rgb(102 102 102);
  --color-accent: rgb(255, 123, 84);
  --color-tertiary: rgb(106, 125, 155);
  --color-black: rgb(0, 0, 0);
  --color-green: rgb(76, 175, 80);
  --color-lime: rgb(143, 169, 14);
  --color-yellow: rgb(230, 187, 48);
  --color-orange: rgb(255, 123, 84);
  --color-red: rgb(195, 0, 18);

  --radius-card: 24px;
  --radius-md: 10px;
  --radius-sm: 5px;
}